
<%= form_for @product do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="clearfix"><div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="clearfix"><div>
  <div>
    <%= f.label :price %>
    <%= f.text_area :price %>
  </div>
  <%= f.submit %>

<% end %>
